.




a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-line: ;
    text-decoration-thickness: ;
    text-decoration-style: ;
    text-decoration-color: ;
}